/* Importando a fonte Montserrat do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px; /* Tamanho da fonte menor */
    background: url('https://i.ibb.co/hFMpzR1T/1f9c10920abea2a2f69f9b7efbcaaf59.gif') no-repeat center center fixed; 
    background-size: cover; /* Ajusta o tamanho do fundo */
}

header {
    background: rgba(51, 51, 51, 0.8); /* Adicionando transparência ao cabeçalho */
    color: white;
    padding: 20px;
    font-size: 18px; /* Menor tamanho para o cabeçalho */
}

#projetos {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Adicionando transparência ao fundo */
    margin: 0 auto;
    width: 80%;
}

.projeto {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    font-size: 14px; /* Tamanho da fonte menor */
}

footer {
    background: rgba(51, 51, 51, 0.8); /* Adicionando transparência ao rodapé */
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px; /* Tamanho da fonte menor no rodapé */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px; /* Botão com tamanho menor */
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px; /* Tamanho da fonte menor no botão */
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
